@{ ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml"; }
@model StatisticsViewModel

<div class="text-center">
    <h1 class="display-4">Statistics</h1>
</div>

<div class="text-center">
    <h1 style="text-align:center;font-size:xx-large">Fetched data</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-gradient-dark">
                <div class="card-header">
                    <h3 style="text-align:center" class="card-title">Fetched Today</h3>
                </div>
                <div class="card-body">
                    <b style="text-align:center;font-size:xx-large">@Model.HowManyFetchedToday</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-gradient-dark">
                <div class="card-header">
                    <h3 style="text-align:center" class="card-title">Fetched this week</h3>
                </div>
                <div class="card-body">
                    <b style="text-align:center;font-size:xx-large">@Model.HowManyFetchedThisWeek</b>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-gradient-dark">
                <div class="card-header">
                    <h3 style="text-align:center" class="card-title">Fetched this month</h3>
                </div>
                <div class="card-body">
                    <b style="text-align:center;font-size:xx-large">@Model.HowManyFetchedThisMonth</b>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-gradient-dark">
                <div class="card-header">
                    <h3 style="text-align:center" class="card-title">Fetched all time</h3>
                </div>
                <div class="card-body">
                    <b style="text-align:center;font-size:xx-large">@Model.HowManyFetchedAllTime</b>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <h style="text-align:center;font-size:xx-large">Providers fetched overall</h>
</div>
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model.ProvidersFetched.ProviderFetched)
        {
            <div class="col-md-4">
                <div class="card bg-gradient-dark">
                    <div class="card-header">
                        <h3 style="text-align:center" class="card-title">Provider:@item.Providers Fetched</h3>
                    </div>
                    <div class="card-body">
                        <b style="text-align:center;font-size:xx-large">@item.HowMany</b>
                    </div>
                </div>
            </div>
        }
    </div>
</div>@*
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <!-- PIE CHART -->
            <div class="card card-danger">
                <div class="card-header">
                    <h3 class="card-title">Pie Chart</h3>
                </div>
                <div class="card-body">
                    <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 503px;" width="691" height="343" class="chartjs-render-monitor"></canvas>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
          @*
        <div class="col-md-6">
            <!-- BAR CHART -->
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Bar Chart</h3>
                </div>
                <div class="card-body">
                    <div class="chart">                       
                        <canvas id="barChart" style="min-height: 250px; height: 249px; max-height: 250px; max-width: 100%; display: block; width: 503px;" width="691" height="342" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
*@